#map{
    height: 500px;
    width: 500px;
}

.picture {
    width: 50%;
}
.row {
    padding-top: 100px; /* avoid banner up top */
    display: flex;
  }
  
.column {
    padding-top: 100px; /* avoid banner up top */
    flex: 50%;
    text-align: center;
}

.bannertext {
    font-family: Arvo;
    font-weight: bold;
    font-size: 145px;
    color: #599CEB;

    padding-right: 80px;
    padding-left: 80px;
}

.subtext {
    font-family: Cookie;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    position: relative;

    color: #599CEB;
}

.underbannertext {
    position: fixed;
    bottom: 10%;
    padding-left: 80px;

    font-family: Arvo;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.b2 {

    background-color: #599CEB;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px; /* curved edges */
}