/*----- FRAME-1 Styles -----*/


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body, h1{
    margin: 0;
    padding: 0;
}

/* Navbar */
#nav-container{
  margin-bottom: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6aa6ed;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #3e599d;
}

.active {
  background-color: #3e599d;
}
/* Inputs */
#inputs{
  height: 300px;
  width: 500px;
  border: 2px solid #3e599d;
  border-radius: 8px;
  padding: 20px;
  margin-top: 50px;
  margin: auto;
  width: 400px;
}
