
/**
*
* HEADER
* 
**/
.hero-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100px;
    min-height: 105px;
    background-image: linear-gradient(red, yellow); /* TODO right color */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}
.logo {
    padding-left: 20;
    top: 60%;
    height: 60%;
    justify-self: left;
}

/* header buttons */

.b1 {
    position: absolute;

    background-color: white;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px; /* curved edges */
}